/* BOOTSTRAP OVERRIDES */

.navbar-inverse .navbar-inner, .footer-wrapper, .right-sidebar, .route_ranker_wrapper {
	background-image: url('../img/cardboard_flat.png');
	border-color:#e7c700;
	-webkit-box-shadow:  0px 3px 15px 0px rgba(0, 0, 0, .3);    
    box-shadow:  0px 3px 15px 0px rgba(0, 0, 0, .3);
}

.right-sidebar-color, .route_ranker_wrapper-color {
	background-color:rgba(255,255,255,.55);
	height:100%;	
}

.navbar-color, .footer-color {
	background-color:rgba(0,0,0,.55);
	height:100%;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background-color:transparent;
}





/* STICKY FOOTER */
html, body, .container, .content {
    height: 100%;
}

.container, .content {
    position: relative;
}

.proper-content {
    padding-top: 61px; /* >= navbar height */

}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -35px; /* same as the footer */
}
.pull {
	height:61px;
}
.push {
    height: 35px; /* same as the footer */
}
.footer-wrapper {
    position: relative;
    height: 35px;
}



/* FOOTER */

footer ul { float:left;list-style:none; font-size:15px; position:absolute; top:8px;}
footer ul li { float:left; width:100px; line-height:20px; }
footer ul li a { color:#fff; }
footer ul li:hover a { color:#e7c700; text-decoration:none; }





#map_canvas {
position:absolute;
height:100%;
width:100%;
top:-35px;
}




/* RIGHT SIDEBAR */
.right-sidebar {
	width:210px;
	border-left:1px solid #4d4d4d;
	height:100%;
	position:absolute;
	right:0;
	margin-top:-61px;
}
#top_rank {
	margin-bottom:1.4em;
}
#bottom_rank {
	margin-bottom 1.4em;	
}
#controls {
	border-bottom: 1px solid #CCC;
	padding-bottom: 1em;
}
#rankings table, #controls table { width:100% }
#rankings h2, #controls h2, .route_ranker h2 {
	text-align:center;
}
#rankings td, #controls td {
	padding-left:5px;
}
#rankings tr:nth-child(even) {

}
#rankings tr:nth-child(odd), #controls tr:nth-child(odd) {
    background-color: rgba(255,255,255,.55);
}
#rankings tr:first-child {
	background:none;
}











/* ROUTE RANKER */
.route_ranker_wrapper {
	position: absolute;
	left: 0;
	width:210px;
	border-right:1px solid #4d4d4d;
	height:100%;
	margin-top:-61px;
}
.slide_hold {
	height:2.5em;
}
.slider {
	width:160px;
	margin:0 1em;
}
.rank_category {
	padding-left:1em;
	
}
.label {
	font-size:.85em;
	padding:0;
	color:#aaa;
	background:none;
	text-shadow:none;
	text-align:right;
}
.left_label {
	text-align:left;
}

.route_ranker table {
	margin:0 4px;
}







/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }